<?xml version="1.0"?>
<launch>
  <arg default="$(find adversarial_coverage)/worlds/empty.world" name="world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
  </include>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/obstacle.urdf.xacro row:=-1.5 col:=-3.5 width:=1 height:=5" name="obstacle_0"/>
  <node args="-urdf -param obstacle_0 -model obstacle_0" name="spawn_obstacle_0" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/obstacle.urdf.xacro row:=-5.0 col:=-5.0 width:=2 height:=2" name="obstacle_1"/>
  <node args="-urdf -param obstacle_1 -model obstacle_1" name="spawn_obstacle_1" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/obstacle.urdf.xacro row:=-4.5 col:=-6.5 width:=1 height:=1" name="obstacle_2"/>
  <node args="-urdf -param obstacle_2 -model obstacle_2" name="spawn_obstacle_2" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/obstacle.urdf.xacro row:=-9.5 col:=-2.5 width:=1 height:=5" name="obstacle_3"/>
  <node args="-urdf -param obstacle_3 -model obstacle_3" name="spawn_obstacle_3" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/obstacle.urdf.xacro row:=-1.5 col:=-6.5 width:=3 height:=1" name="obstacle_4"/>
  <node args="-urdf -param obstacle_4 -model obstacle_4" name="spawn_obstacle_4" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/obstacle.urdf.xacro row:=-2.0 col:=-7.5 width:=2 height:=1" name="obstacle_5"/>
  <node args="-urdf -param obstacle_5 -model obstacle_5" name="spawn_obstacle_5" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/threat.urdf.xacro row:=-7.0 col:=-7.0 width:=2 height:=2 level:=1" name="threat_0"/>
  <node args="-urdf -param threat_0 -model threat_0" name="spawn_threat_0" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/threat.urdf.xacro row:=-8.5 col:=-7.5 width:=1 height:=1 level:=1" name="threat_1"/>
  <node args="-urdf -param threat_1 -model threat_1" name="spawn_threat_1" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/threat.urdf.xacro row:=-3.5 col:=-6.5 width:=1 height:=5 level:=2" name="threat_2"/>
  <node args="-urdf -param threat_2 -model threat_2" name="spawn_threat_2" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/threat.urdf.xacro row:=-4.5 col:=-2.5 width:=3 height:=1 level:=1" name="threat_3"/>
  <node args="-urdf -param threat_3 -model threat_3" name="spawn_threat_3" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/threat.urdf.xacro row:=-5.0 col:=-1.5 width:=2 height:=1 level:=1" name="threat_4"/>
  <node args="-urdf -param threat_4 -model threat_4" name="spawn_threat_4" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/threat.urdf.xacro row:=-1.5 col:=-9.5 width:=3 height:=1 level:=4" name="threat_5"/>
  <node args="-urdf -param threat_5 -model threat_5" name="spawn_threat_5" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
  <param command="$(find xacro)/xacro.py $(find adversarial_coverage)/objects/threat.urdf.xacro row:=-1.0 col:=-8.5 width:=2 height:=1 level:=4" name="threat_6"/>
  <node args="-urdf -param threat_6 -model threat_6" name="spawn_threat_6" output="screen" pkg="gazebo_ros" respawn="false" type="spawn_model"/>
</launch>
