<launch>
  <param name="robot_width" value="0.4" />
  <param name="robot_length" value="0.5" />
  <param name="high_linear_speed" value="1.0" />
  <param name="low_linear_speed" value="0.5" />
  <param name="angular_speed" value="1.0" />
  <param name="linear_tolerance" value="0.015" />
  <param name="angular_tolerance" value="0.0015" />
  <param name="risk_factor" value="10" />
  <param name="threats_file" value="$(find adversarial_coverage)/worlds/cave_threats.inc"/> 
  <param name="log_file" value="$(find adversarial_coverage)/output/log.txt" />
  <param name="write_log" value="true" />
  <param name="stat_file" value="$(find adversarial_coverage)/output/stat" />
  
  <param name="/use_sim_time" value="true"/>
  <arg name="map_file" default="$(find adversarial_coverage)/maps/cave.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Run stage -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find adversarial_coverage)/worlds/cave.world" respawn="false">
    <param name="base_watchdog_timeout" value="0.05"/>
  </node>

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find adversarial_coverage)/rviz_config.rviz" />

  <!-- Publish a static transformation between /map and /odom -->
  <node name="tf" pkg="tf" type="static_transform_publisher" args="-7 7 0 0 0 0 /map /odom 100" />

  <!-- Run coverage node -->
  <node name="adversarial_coverage" pkg="adversarial_coverage" type="adversarial_coverage_node" output="screen" cwd="node" />
</launch>
