<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="box_wall">
   <xacro:arg name="start_x" default="0"/>
   <xacro:arg name="start_y" default="0"/>
   <xacro:arg name="end_x" default="0"/>
   <xacro:arg name="end_y" default="0"/>

   <xacro:property name="x1" value="$(arg start_x)"/>
   <xacro:property name="x2" value="$(arg end_x)"/>
   <xacro:property name="y1" value="$(arg start_y)"/>
   <xacro:property name="y2" value="$(arg end_y)"/>

  <link name="wall" type="fixed">
    <inertial>
      <origin xyz="$(arg start_x) $(arg start_y) 0.5" />
      <mass value="1.0" />
      <inertia  ixx="0.0" ixy="0.0"  ixz="0.0"  iyy="0.0"  iyz="0.0"  izz="0.0" />
    </inertial>
    <visual>
      <origin xyz="$(arg start_x) $(arg start_y) 0.5"/>
      <geometry>
        <box size="${x2 - x1} ${y2 - y1} 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="$(arg start_x) $(arg start_y) 0.5"/>
      <geometry>
        <box size="${x2 - x1} ${y2 - y1} 1" />
      </geometry>
    </collision>
  </link>
  <gazebo>
    <static>true</static>
    <material>Gazebo/Green</material>
  </gazebo>
</robot>
